

/* .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    border-color: #aab2cf;
    box-shadow: 2px 2px 5px #aab2cf;
    padding: 20px 0;
    background-color: #fff;
} */